a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #d60303;
}

.btn-primary {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #585858 !important;
    border-color: #585858 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1ec21b;
    border-color: #2cac18;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #9c9898;
}

.border-bottom {
    border-bottom: 1px solid #9c9898;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* Main text styles
-------------------------------------------------- */
.text-info {
    color: black !important;
}

.btn-info {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
}

    .btn-info:hover {
        color: #fff;
        background-color: #585858 !important;
        border-color: #585858 !important;
    }